# Registry properties
IceGrid.Registry.Client.Endpoints=tcp -p 9999
IceGrid.Registry.Server.Endpoints=tcp
IceGrid.Registry.Internal.Endpoints=tcp
IceGrid.Registry.AdminPermissionsVerifier=IceGrid/NullPermissionsVerifier
IceGrid.Registry.LMDB.Path=/tmp/db/registry

# Node properties
IceGrid.Node.Endpoints=tcp
IceGrid.Node.Name=registry-node
IceGrid.Node.Data=/tmp/db/registry-node/servers
IceGrid.Node.CollocateRegistry=1
Ice.Default.Locator=IceGrid/Locator:tcp -h 127.0.0.1 -p 9999

IceGrid.Registry.DefaultTemplates=/usr/share/ice/templates.xml
